
      body {
        background-color: rgb(34, 34, 34);
      }
      .cart-calculator {
        background-color: black;
        display: inline-block;
        padding: 23px;
        border-radius: 15px;
        position: absolute;
        left: 50%;
        top: 15%;
        margin-left: -200px;
        max-width: 252px;
      }
      .js-result {
        font-size: 35px;
        color: white;
        margin: 0;
      }
      .result{
        background-color: rgb(78, 78, 78);
        border-radius: 5px;
        border: 1px solid orange;
        overflow: hidden;
        padding-left: 10px;
        padding-top: 14px;
        padding-bottom: 14px;
      }
      button {
        height: 60px;
        width: 60px;
        border-radius: 30px;
        border: none;
        font-size: 25px;
        cursor: pointer;
        background-color: rgb(51, 51, 51);
        color: white;
      }
      button.btn-calculation {
        background-color: orange;
      }
      button.btn-clear {
        font-size: 18px;
      }

